.card-product img {
    width: 288px;
    height: 290px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-product {
    background-color: #fff;
    width: 288px;
    height: 420px;
    border-radius: 15px;
}

.card-product p {
    padding-left: 25px;
    margin: 0;
}

.card-title,
.card-price {
    font-weight: 300;
    color: rgb(72, 72, 72);
    font-size: 19px;
}
.card-shop-title {
    font-weight: 400;
    font-size: 20px;
    color: black;
    display: inline;
}
.card-product:hover {
    transform: scale(1.01);
    cursor: pointer;
    transition: transform 0.3s;
}