.button-change {
    border: none;
    outline: none;
    background: white;
    color: #000000;
    border-radius: 10px;
    width: 100%;
    font-weight: 300;
    height: 50px;
    font-size: 22px;
}
.input-modal {
    height: 45px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 19px;
    border-radius: 10px;
    padding-left: 15px;
    width: 100%;
}
.form-container {
    display: flex;
    justify-content: center;
}
.form {
    width: 350px;
}
.input-modal::placeholder {
    color: black;
    text-transform: uppercase;
}