.card-shop {
    width: 200px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.card-shop:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}
.shop-title {
    color: white;
}
.shop-title:hover {
    color: rgb(207, 207, 207);
}