.footer-link {
    color: #d6d6d6;
    font-size: 20px;
}

.footer-7int {
    font-size: 25px;
}

footer {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.payment-container img {
    height: 60px;
}