@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    zoom: 100%;
    color: white;
}

ul, ol {
    list-style: none;
}
.wrapper {
    background-image: url("public/main bgc.png");
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 911px;
}

.content {
    position: absolute;
    top: 0;
    height: 900px;
    z-index: 2;
}

.content {
    overflow-x: hidden;
    overflow: scroll;
}

.content::-webkit-scrollbar {
    display: none;
}

.image {
    border-radius: 50%;
    object-fit: cover;
}

.upperCase {
    text-transform: uppercase;
}